<!-- <p>registration works!</p>

           <input type="text" placeholder="Name" name="name" [(ngModel)]="dataObj.name" /><br>
       
        
           <input type="text" placeholder="Course" name="course" [(ngModel)]="dataObj.course" /><br>
        
           <input type="text" placeholder="Emai" name="email"  [(ngModel)]="dataObj.email" /><br>
       
           <input type="text" placeholder="Password" name="password" [(ngModel)]="dataObj.password" /><br>
        
           <input type="text" placeholder="Contact No" name="contact" [(ngModel)]="dataObj.contact" /><br>
      
           <input type="text" placeholder="Roll No" name="rollNo" [(ngModel)]="dataObj.rollNo" /><br>

            <input type="submit" (click)="saveRecord()" value="Submit"/> -->
      
            <form #registrationForm="ngForm" class="form" >
<table  class="mark" cellspacing="5">
    <tbody>
      <tr>
         <td align="center" class="log">
            Student Registration
         </td>
      </tr>
        <tr>
             <td>Name :<label class="label">&nbsp;*required</label>     <input class="feild" type="text" placeholder="Name" name="name" [(ngModel)]="dataObj.name" required #name="ngModel"/>

                <div *ngIf="name.invalid && name.touched" class="error-message">
                    Name is required.
                  </div>
            </td>
         </tr>
         <tr>
            <td> Course :<input class="feild" type="text" placeholder="Course" name="course" [(ngModel)]="dataObj.course"  />
            </td>
         </tr>
         <tr>
            <td>
              Email : <label class="label">&nbsp;*required</label> <input class="feild" type="text" placeholder="Emai" name="email"  [(ngModel)]="dataObj.email" required #email="ngModel" />
              <div *ngIf="email.invalid && email.touched" class="error-message">
                A valid Email is required.
              </div>
            </td>
         </tr>
         <tr><td>
            Password :<label class="label">&nbsp;*required</label> <input class="feild" type="text" placeholder="Password" name="password" [(ngModel)]="dataObj.password"required #password="ngModel" />
            <div *ngIf="password.invalid && password.touched" class="error-message">
                Password is required.
              </div>
        </td></tr>
         <tr>
            <td>Contact :<input class="feild" type="text" placeholder="Contact No" name="contact" [(ngModel)]="dataObj.contact" />
            </td>
         </tr>
         <tr>
            <td>Roll NO: <input class="feild" type="text" placeholder="Roll No" name="rollNo" [(ngModel)]="dataObj.rollNo"/>
                
            </td>
         </tr>
         <tr>
            <td align="center"><br> <input class="button" type="submit" (click)="saveRecord()" value="Submit"  />
            </td>
         </tr>
    </tbody>
</table>
               

            </form>