
.feild{
    padding: 5px;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 96%;
}
.button{
    width: 83%;
    padding: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
border-radius:20px;
background-color: rgb(252, 88, 170);
/* border-color: rgb(202, 20, 120); */
border-color: rgb(252, 88, 170);

}

.head{
  width: 27%;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    font-weight: 540;
}
.mark{
    width: 30%;
height: 80%;
 /* border-radius: 10px; */
 background-color: rgb(255, 255, 255);
}
.show{
    font-size: 14px;
    align-items: flex-start;
    padding-top: 9px;
}
.log{
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 96, 175);
    color: white;
}
.form{
    background-color: rgb(189, 170, 186);
    height: 100vh;
    display: flex;
    flex-direction: column; /* Stack the items vertically */
    justify-content: center; /* Vertically center content */
    align-items: center; /* Optionally center content horizontally */
  
}