<!-- <form>
    <h1 class="mark">Log In</h1>
    <h4 class="head">Username :</h4>
<input class="feild" type="text" placeholder="Enter Name" [(ngModel)]="dataObj.name" name="name"/><br>
<h4 class="head">Password :</h4>


<input class="feild"  type="text" placeholder="Enter Password" [(ngModel)]=" dataObj.password" name="password"/><br>
<br><input type="radio" class="head"/>Show Password<br>
<br><input type="submit" class="button" value="Submit" (click)="login()"/><br><br>
<p class="sign">Not a members ?<a routerLink="/registration">Signup Now</a></p>

</form> -->


<form class="form" >
   
    <table class="mark"  align="center" cellspacing="0">
        <tbody>
            <tr>
                <td align="center" class="log">
                  <h2 >  Sign up</h2> 
                </td>
            </tr>
            <tr>
                <td class="head">Username : </td>

            </tr>
        <tr>
           
            <td><input class="feild" type="text" placeholder="Enter Name" [(ngModel)]="dataObj.name" name="name"/></td>
        </tr>
        <tr>
            <td class="head">Password :</td>
        </tr>
        <tr>
            
            
            <td><input class="feild"  type="text" placeholder="Enter Password" [(ngModel)]=" dataObj.password" name="password"/> </td>
        </tr>
        <tr align="left">
            <td colspan="1" class="show"><input  type="radio"/>Show Password
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center"><br><input class="button " type="submit" class="button" value="Submit" (click)="login()"/>
            </td>
        </tr>
        
        <tr>
            <td colspan="2" align="center"><br><p >Not a members ?<a routerLink="/registration">Signup Now</a></p>
            </td>
        </tr>
    </tbody>
    </table>

</form>