<p>get-record works!</p>
<table border>
    <tr *ngFor="let items of dataObj">
        <td>
   Name : {{items.name }}<br>
   Course :{{items.course }}<br>
   Roll No:{{items.rollNo}}
<!-- {{items.email }}
{{items.contact }} -->

        </td>
    </tr>
</table>



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body><table >
    <tr *ngFor="let items of dataObj">
        <td>
   Name : {{items.name }}<br>
   Course :{{items.course }}<br>
   Roll No:{{items.rollNo}}
<!-- {{items.email }}
{{items.contact }} -->

        </td>
    </tr>
</table>